:root {
    --color: #3399cc;
}

body {
    font: 1rem/1.5 'Poppins', Helvetica, Arial, Sans-serif;
    background-color: #f5f4f4;
    overflow-x: hidden;
    box-sizing: border-box;
}

.brand img {
    filter: drop-shadow(0 0 3px rgba(51, 153, 204, .6));
    width: 15%;
}

body.active {
    overflow: hidden;
}
/* button */
.btn {
    border: 2px solid #f5f4f4;
    letter-spacing: 0.5px;
    background: #f5f4f4;
    text-transform: capitalize;
    display: inline-block;
    width: 130px;
    height: 40px;
    cursor: pointer;
    position: relative;
    line-height: 35px;
    text-align: center;
    color: var(--color);

}

.btn::before,
.btn::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: var(--color);
    transition: all 0.3s ease;
}

.btn::before,
.btn::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--color);
    transition: all 0.3s ease;
}

.btn::before {
    height: 0%;
    width: 2px;
}
.btn::after {
    width: 0%;
    height: 2px;
}
.btn:hover::before {
    height: 100%;
}
.btn:hover::after {
    width: 100%;
}

.btn span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}


.btn span::before,
.btn span::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--color);
    transition: all 0.3s ease;
}
.btn span::before {
    width: 2px;
    height: 0%;
}
.btn span::after {
    width: 0%;
    height: 2px;
}
.btn span:hover::before {
    height: 100%;
}
.btn span:hover::after {
    width: 100%;
}


/* btn-portfolio */
.btn-portfolio {
    border: 1px solid var(--color);
    width: 100px;
}

.btn-portfolio::before,
.btn-portfolio::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: var(--color);
    transition: all 0.3s ease;
}

.btn-portfolio::before,
.btn-portfolio::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--color);
    transition: all 0.3s ease;
}

.btn-portfolio::before {
    height: 0%;
    width: 2px;
}
.btn-portfolio::after {
    width: 0%;
    height: 2px;
}
.btn-portfolio:hover::before {
    height: 100%;
}
.btn-portfolio:hover::after {
    width: 100%;
}

.btn-portfolio span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}


.btn-portfolio span::before,
.btn-portfolio span::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: var(--color);
    transition: all 0.3s ease;
}
.btn-portfolio span::before {
    width: 2px;
    height: 0%;
}
.btn-portfolio span::after {
    width: 0%;
    height: 2px;
}
.btn-portfolio span:hover::before {
    height: 100%;
}
.btn-portfolio span:hover::after {
    width: 100%;
}
.button-code a {}


/* btn-send */
.btn-send {
    border: 1px solid black;
    width: 100px;
}
.btn-send::before,
.btn-send::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #000;
    transition: all 0.3s ease;
}

.btn-send::before,
.btn-send::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #000;
    transition: all 0.3s ease;
}

.btn-send::before {
    height: 0%;
    width: 2px;
}
.btn-send::after {
    width: 0%;
    height: 2px;
}
.btn-send:hover::before {
    height: 100%;
}
.btn-send:hover::after {
    width: 100%;
}

.btn-send span {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}


.btn-send span::before,
.btn-send span::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #000;
    transition: all 0.3s ease;
}
.btn-send span::before {
    width: 2px;
    height: 0%;
}
.btn-send span::after {
    width: 0%;
    height: 2px;
}
.btn-send span:hover::before {
    height: 100%;
}
.btn-send span:hover::after {
    width: 100%;
}


/* back to button  */
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    border: 3px solid var(--color);
    border-radius: 50%;
    padding: .125rem;
    z-index: 999;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    filter: grayscale(1);
    transition-property: grayscale;
}
.back-to-top:hover, .back-to-top:focus {
    filter: grayscale(0);
}
.btnEntrance {
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.btnExit {
    animation-duration: .25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
/* hamburger button */
.hamburger-btn {
    cursor: pointer;
    color: transparent;
    transition: transform 400ms;
    user-select: none;
    display: none;
}
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--color);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.hamburger-btn .top {
    stroke-dasharray: 40 130;
}

.hamburger-btn .middle {
    stroke-dasharray: 40 140;
}
.hamburger-btn .bottom {
    stroke-dasharray: 40 205;
}
.hamburger-btn.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}

.hamburger-btn.active .middle {
    stroke-dashoffset: -102px;
}
.hamburger-btn.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}
/* header */
header {

    border-image: linear-gradient(var(--color) 50%, #f5f4f4) 0 fill;
    color: #fff;
    min-height: 100vh;
    height: auto;
    display: grid;
    overflow: hidden;

}
header a {
    color: #fff;
}
/* navigation */
.navigation {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 999;
}

.menu {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;

}

.menu li a {
    color: var(--color);
    letter-spacing: 0.04rem;
    text-transform: capitalize;
    padding: 2px 0;
    position: relative;
    /*     border: 1px solid black; */
}
.menu li a:hover {
    color: var(--color);
}

.menu li a::before, .menu li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    background: var(--color);
}

.menu li a::before {
    left: 0;
}

.menu li a::after {
    right: 0;
    background: var(--color);
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu li a:hover::before {
    background: var(--color);
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu li a:hover::after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

.menu li {}

/* waves */
.custom-shape-divider-top-1708807505 {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -99;
}

.custom-shape-divider-top-1708807505 svg {
    position: relative;
    display: block;
    width: calc(221% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
    background-color: var(--color);
}

.custom-shape-divider-top-1708807505 .shape-fill {
    fill: #f5f4f4;
}

/* hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*      background-position: 100% 100px; */
    mask-image: linear-gradient(to bottom, #f5f4f4 50%, transparent 95%);
    /*        border-image: linear-gradient(  #f5f4f4 10%, #f5f4f4) 0 fill; */
}

.title-website {
    text-transform: capitalize;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: -0.04rem;
    font-size: clamp(3.5rem, 12vw, 15rem);
    background-image: linear-gradient(90.1deg, #3399cc 0.2%, #f5f4f4 99.9%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200%;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .7));
    animation: animate-bg 15s infinite alternate;
}

@keyframes animate-bg {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;

    }
}

.hero p {
    margin-top: -15px;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: clamp(.9rem, 2vw, 1rem);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .7));
}

section {
    height: 100vh;
}

/* about */
.about {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    filter: grayscale(1);
    transition: filter .5s;
}
h2 {
    letter-spacing: 0.04rem;
}

h2 span {
    color: var(--color);
}
.about:hover {
    filter: grayscale(0);
}
.about-content {
    width: 500px;
    align-self: center;
}
.about-content h2 {
    font-weight: 500;
    color: inherit;
}
.about-banner {
    display: flex;
    justify-content: center;
    /*      border: 1px solid black; */
    width: 400px;
    align-self: center;
}
.about-banner img {
    width: 80%;
}
.about-content {
    text-wrap: balance;
}

.tech-stack {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.tech-stack h4 {
    font-weight: 500;
}
.tech-stack img {}


/* porfolio */
.portfolio {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.portfolio-content {
    width: 400px;
    align-self: center;
    text-align: right;
}
.portfolio-cards {
    width: 500px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.portfolio h2 {
    font-weight: 500;
    letter-spacing: 0.04rem;
}
.portfolio-cards .card {
    padding: .5rem;
    width: 45%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: relative;
}
.portfolio-cards .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: var(--color);
    margin-top: -4px;
    margin-left: -4px;
}

.portfolio-cards .card::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100px;
    width: 100px;
    background-color: var(--color);
    margin-bottom: -4px;
    margin-right: -4px;
}
.card p:nth-child(3) {
    margin-top: 5px;
    margin-bottom: 3px;
}


/* galery */
.gallery {
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.gallery-content {
    width: 400px;
    align-self: center;
}

.gallery-content h2 {
    font-weight: 500;
    letter-spacing: 0.04rem;
}

.gallery-banner {
    /*       border: 1px solid black; */
    align-self: center;
    display: grid;
    width: 500px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-rows: 100px 100px 100px;

}

.thumbnail {
    width: 100%;
    height: 100%;
}
.thumbnail img {
    width: 100%;
    height: 100%;
}

.gallery-banner .thumbnail:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.gallery-banner .thumbnail:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.gallery-banner .thumbnail:nth-child(3) {
    grid-column: 2/ 3;
    /*       grid-row: 2 / 3; */
}

.gallery-banner .thumbnail:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}


/* Contact */
.contact {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    min-height: 100vh;
    height: auto;
    letter-spacing: 0.04rem;
}
.contact-content h2 {
    font-weight: 500;
}
.contact-content {
    width: 400px;
    align-self: center;
    text-align: right;
}
.contact-form {
    /*      border: 1px solid black; */
    width: 500px;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'name email'
        'message message';
    gap: 1rem;
}

.contact-form .form-wrapper:nth-child(1) {
    grid-area: name;
    /*      border: 1px solid black; */
}

.contact-form .form-wrapper:nth-child(2) {
    grid-area: email;
}

.contact-form .form-wrapper:nth-child(3) {
    grid-area: message;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    background: #f5f4f4;
     border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    transition: .5s box-shadow;
}
.input-field:focus {
    outline: 0;
    border-color: #3399cc;
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
textarea.input-field {
    min-height: 60px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
}

/* footer */
.footer {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}








/* Responsive Screen BreakPoints */
/* Mobile screen ( Potrait and Landscape ) */
@media (width <=767px) {
    .brand {
        position: relative;
        z-index: 3;
    }
    .navigation {
        padding: 0 .5rem;
    }

    .hero {
        gap: 1rem;
    }
    .hero p {
        font-size: 1rem;
        width: 70%;
        text-align: center;
        text-wrap: balance;
    }
    .hamburger-btn {
        display: block;
        position: relative;
        z-index: 3;
    }
    .menu {
        grid-auto-flow: row;
        position: fixed;
        left: 0;
        top: -1000px;
        z-index: 2;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-content: space-around;
        background-color: #f5f4f4;
        transition: 0.3s;
    }

    .menu.active {
        top: 0;
    }
    /*  about   */
    .about {
        flex-direction: column-reverse;
        padding: 2rem 0;
        gap: 10px;
        overflow: hidden;
    }
    .tech-stack {
        flex-direction: column;
    }

    .tech-stack .tech-list {
        display: flex;
    }
    .about-banner {
        width: 80%;
    }
    .about-content {
        width: 85%;
        padding: 1rem;
    }
    /* portfolio */
    .portfolio {
        overflow: hidden;
        flex-direction: column;
        padding: 2rem 0;
        gap: 1rem;

    }
    .portfolio-cards {
        gap: 1rem;
    }
    .portfolio-content {
        width: 80%;
        text-align: left;
        padding: 0;
    }
    .portfolio-cards {
        width: 90%;
        padding: 0 2.5rem;
        /*         border: 1px solid black; */

    }
    .portfolio-cards .card {
        margin-left: -1rem;
        width: 100%;
    }
    /* gallery */
    .gallery {
        flex-direction: column;
        padding: 2rem 0;
    }

    .gallery-content {
        width: 80%;
        padding: 0;
        text-align: left;
    }

    div.gallery-banner {
        width: 80%;
        padding: 1rem;
        margin-left: -1.5rem;
        grid-template-rows: 100px 100px 100px 100px;
    }
    .gallery-banner .thumbnail:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }

    .gallery-banner .thumbnail:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }

    .gallery-banner .thumbnail:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 4 / 5;
    }
    /* contact */
    .contact {
        flex-direction: column;
        padding: 2rem 0;
    }
    .contact-content {
        text-align: left;
    }

    .contact-content,
    .contact-form {
        width: 80%;
        padding: 1rem;
    }
    .contact-form {
        grid-template-areas: 'name name'
            'email email'
            'message message';
        gap: 30px;
    }
    /* footer */
    .footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .back-to-top {
        right: 15px;
    }
}

/* Tablet screen ( Potrait and Landscape ) */
@media (767px <=width <=1023px) {
    /*   about   */
    .about {
        padding: 0 2.5rem;
    }
    .about-banner {
        justify-content: end;
    }

    .hero p {
        width: 65%;
        text-align: center;
    }
    .portfolio, .gallery, .contact {
        padding: 0 4rem;

    }
    /*   portfolio    */
    .portfolio {
        gap: 1rem;
    }
    .portfolio-cards {
        width: 100%;
        gap: 1.5rem;
    }
    .portfolio-cards .card {
        width: 80%;
    }

    /* gallery */
    .gallery {
        justify-content: space-around;
    }
    .gallery-banner {
        width: 50%;
    }
    .gallery-content {
        width: 30ch;
    }

    /* contact */


}
/* Laptop screen ( Potrait and Landscape ) */
@media (1024px <=width <=1439px) {}

/* Dekstop screen ( Potrait and Landscape ) */
@media (width >=1440px) {}